body{
  background-color: #000;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0 !important;
}


.page header {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 72vh;
  width: 100vw;
  background-image: url(./assets/img/Sin-título-1.jpg);
  background-position: no-repeat;
  background-position: center center;
  z-index: 20;
  margin-bottom: 3vh;
}

.page header::before{
  content: "";
  background-color: #0000009c;
  width: 100%;
  height: 72vh;
  position: absolute;
  box-shadow: inset 0px 15px 4vh #000000af, inset 0px -15px 4vh #000000b4;
  z-index: 1;
}


.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.form input[type="checkbox"]::before{
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.form input[type="checkbox"]::before:hover {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}

.form input[type="text"]{
  width: 50vw;
}


.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  width: 100%;
  gap: 32px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #00000018;
  border-radius: 8px;
  border: 1px solid #ffffff0c;
  transition: 0.3s all ease;
}

h1 {
  z-index: 99;
}

.movie:hover{
  border: 1px solid #fff;
}

.movie h3, .movie p {
  margin: 0;
  z-index: 10;
}

.movie h3 {
  margin-top: 10px;
  z-index: 10;
  padding: 0 1vw 0 1vw;
}

.movie img {
  height: 100%;
  border-radius: 8px;
  margin-top: 16px;
  object-fit: cover;
  width: auto;
}